#title {
    margin: auto;
    padding-top: 30px;
}

#asearchContent {
    display: table-cell;
    width: 85%;
    vertical-align: top;
}

.alabel {
    padding-bottom: 30px;
}
.pcol {
    margin: 15px;
}

.form {
    margin: 0 auto;
    width: 100%
}
  
.input-range {
    margin-bottom: 50px;
}