#playlistContent {
    display: table-cell;
    width: 85%;
    vertical-align: top;
}

#results {
    margin: 50px;
    padding: 25px;
    width: 100%
}
.inner {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}