#searchContent {
    display: table-cell;
    width: 85%;
    vertical-align: top;
}
#form {
    margin: 50px;
    padding: 20px;
}
#results {
    margin: 50px;
    padding: 25px;
    width: 100%;
    overflow: auto;
    height: 500px;
}
#matchResults {
    margin: 50px;
    padding: 25px;
    width: 100%;
}
